<!-- <div> -->
<!-- <h1>directives</h1>

<div *ngIf="'ShowElement'">Show This Content</div>
<div [ngSwitch]="course">
<p *ngSwitchCase="'java'">Java Course Selected</p>
<p *ngSwitchCase="'Angular'">Angular course Selected</p>
<p *ngSwitchCaseDefault>Invalid course</p>
</div>
<ul>
    <li *ngFor="let name of names">{{name}}</li>
</ul>
</div> -->


    <div [ngClass]="['bold-text','green']">Array of Classes</div>
    <div [ngClass]= "'italic-text blue'">string classes</div>
    <div [ngClass]="{'small-text': c1,'red':c2}">Object of classes</div>




