<!-- <h1 appCusdirective>{{title}}</h1>
<prasad></prasad> -->
 <!-- <app-prasad2></app-prasad2>
<app-calulatorpro></app-calulatorpro>
<app-directives></app-directives>
<app-twowaybinding></app-twowaybinding>
<app-pipeexe></app-pipeexe>


<h3 appCusdirective>coustom directive is working!!!!!</h3> --> 
 <!-- <app-addoppser></app-addoppser>
<app-divoperser></app-divoperser>
<app-suboppser></app-suboppser> -->

<!-- <app-studentser></app-studentser> --> 
<!-- <app-studentlson></app-studentlson> -->

 <!-- <div>
    <h1 style="text-align: center">parent component</h1>
<MARQUEE direction="left">{{childData}}</MARQUEE>
    <app-childcom [uname]="username" (notify)="parentMethod($event)"></app-childcom>
</div> -->
     


     <!-- <app-parent></app-parent>
     <app-sibling></app-sibling> -->
     <!-- <app-rigiform></app-rigiform> -->
     <!-- <app-rigimdf></app-rigimdf> -->
     <!-- <div style="text-align: center">-->
     <!-- <h1>Routing and Navigation</h1>-->
     <app-basicpro></app-basicpro>
     
     <!-- <nav>
     <button>
     <a routerLink="/web" routerLinkActive="active">web Technology</a></button>
     <button><a routerLink="/java" routerLinkActive="active">java Technology</a>
     </button>
     </nav>
     <router-outlet></router-outlet>  -->
     
