<p>tdfexam works!</p>

<div class="container">
<h2>T D F EXAMPLE</h2>
<form>
    <div class="form-group">
        <label>Name:-</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
            <label>Email:-</label>
            <input type="email" class="form-control">
    </div>
    <div class="form-group">
            <label>Mobileno:-</label>
            <input type="tel" class="form-control">
    
    </div>

    <!-- <div class="form-group">
        <select class="coustom-select">
            <option selected>I am Intersted In</option>
            <option *ngFor=let course of courses>{{course}}</option> -->

        <!-- </select> -->
        <div class="mb-3">
            <label>Time Perferance</label>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="timePerferance" value="Morning">
            <label class="form-check-label">(10am-11am)</label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="timePerferance" value="Evening">
                    <label class="form-check-label">(2pm-4pm)</label>
                    </div>
            

        </div>


    

</form>


</div>