<div class="container">
    <div class="row">
        <div class="col-md-12 well">
                
            <header>
                <h3>Header Part</h3>
                <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="">Home</a></li>
                            <li><a href="">Courses</a></li>
                            <li><a href="">Vision&Mission</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
            </header>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-4 well">
            <h2>Navigation</h2>
                    <nav>
                    <button>
                    <a routerLink="/web" routerLinkActive="active">web Technology</a></button>
                    <button><a routerLink="/java" routerLinkActive="active">java Technology</a>
                    </button>
                    </nav>
        </div>
        <div class="col-md-8 well">
            <h2>Body</h2>
            <router-outlet></router-outlet> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 well">
            <footer>
                <h3>Footer</h3>
            </footer>
        </div>
    </div>
</div>